## Hi there 👋, I'm {{name}}!
Machine Learning and App Development Enthusiast currently doing my PostGrad from [IIIT Delhi](https://www.iiitd.ac.in/) and my focus area of major projects are Natural Language Processing and Graph Mining.
<!-- **anchitgupt/anchitgupt** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile. -->

### What I'm Up To

- 🔭 I’m currently working on Personal Projects	.
- 🌱 I’m currently learning some basic stuff like advance sql and devops like docker.
- 👯 I’m looking to collaborate on some Blogs which hosted in the [Area-21](https://medium.com/area-21/).
- 🤔 I’m looking for help with some cool projects to build up professional profile.
- 💬 Ask me about Emerging Technologies, Natural Language Processing
- 📫 How to reach me: [anchitgupt.github.io](anchitgupt.github.io)
- 😄 Pronouns: AchiWolf
- ⚡ Fun fact: I lived in 7 states throughout my life in India.


### ✨ Incredible India ✨

<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>
<p>Above are the last 3 pictures posted by <a href="https://www.instagram.com/incredibleindia/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @incredibleindia!</a><br/>

### 🌦️ Current Weather
<b> {{city_temperature}}°C, <i>{{city_weather}}</i></b></br>Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>

---
Updated at: {{date}}

Creator: [Thomas Guibert](https://github.com/thmsgbrt)
